table {
    border-collapse: collapse;
    width: 50%;
    margin-left:25%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color:rgb(87, 140, 201);
    color: white;
  }
